* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
/*black background for the whole body */
body {
    background-color: #222222;   
}
.container{
    width:80%;
    height:auto;
    margin: 0 auto;
    background-color: #F0F0F0;
    padding-bottom: 30px;
}
header {
    background-color: #e2e0e0;
    padding: 10px 10px 0px 10px;
    
}
 .header h1 {
    font-size: 3rem;   
}
.header {
    font-family: 'sans-serif';
    padding: 3rem;
    background-color: #F0F0F0;
    box-shadow: 0px 0px 1px 0px #EBF0F2;
}
.header p{
    color:grey;
    font-size:1.5rem;
}
section {
    padding: 0px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.outputtable {
    margin: 0px 0px 0px 5px;
    overflow-y:scroll;    
}
.outputtable .Existing-task p, .form-header p{
    font-family: 'Times New Roman', Times, serif;
}
.form-header,
.Existing-task {
    font-size: 2rem;
    margin-bottom: 10px;
    margin-bottom: 1em;
}
.form , 
.outputtable {
    flex: 1;
    padding: 50px;
    background: white;
    border-radius: 2px;
}
.form {
    margin: 0px 5px 0px 0px;
}
.input-form {
    font-family: 'sans-serif';
}
/* style for the form element */
.input-form-el {
    margin-bottom: 20px;
}
/* style fro the label */
.input-form-element label {
    font-size: 1.2rem;
}
/* style fror the input in the class */
.input-form-el input {
    border: 2px solid #e2e0e0;
    background-color: #F0F0F0;
    padding: 10px;
    width: 100%;
    height: 3.5rem;
    margin-top: 2%;
    border-radius: 5px;
    font-size: 1rem;
    outline-offset: 0px;
    outline: none;
}
#submit {
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    background: #554e4e;
    border-radius: 5px;
    color: white;
    font-size: 1.5rem;   
}
.outputtable table {
    border-radius: 4px;
    width: 100%;
    border-spacing: 0px;
    border: 2px solid white;
    box-shadow: 0 0 0 7px #F0F0F0;
}
.outputtable table tr:nth-child(2n) {
    background: #F0F0F0;
    border: 1px solid #F0F0F0;
}
.outputtable table tr {
    padding: 10px;
    height: 3rem;
}
.outputtable table tr td {
    padding: 10px;
    /* font-size: 1.2rem; */
}
/* sets the widths for the name column */
.outputtable table tr td:nth-child(1) {
    width: 8em;
}
/* sets the widths for the date column */
.outputtable table tr td:nth-child(2) {
    width: 18rem;
    font-family: 'sans-serif', Tahoma, Geneva, Verdana,;
    padding: 0px;
}
/* set the widths for the assignedTo column */
.outputtable table tr td:nth-child(3) {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:6rem;
}
/* to show the stripe effect for table rows */
.outputtable table tr td:nth-child(2n) {
    color: gray;
}
.outputtable table tr td:nth-child(2n-1) {
    font-weight: bold;
}
